build:
  id: 103
  version: 1.0000.0000
  name: "PROD Config local build"
  type: "PROD"

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"