spring:
  data:
    mongodb:
      uri: ${MONGO_DB_URI}
      database: ${MONGO_DB_DATABASE}
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: "*"
app:
  message: "Hello User service application"