spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:\Essential\workspace\ecom-microservice\additional\config-management\configserver\src\main\resources\config
#          search-locations: classpath://config
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
#  cloud:
#    config:
#      server:
#        git:
#          uri: ${GIT_URI}
#          username: ${GIT_USERNAME}
#          password: ${GIT_TOKEN}
#          Accessing a public repository from GIT.
#          uri: https://github.com/bhargav-siddanati/app-configuration.git
server:
  port: 8888
management:
  endpoints:
    web:
      exposure:
        include: "*"