spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: ${GIT_URI}
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
#          Accessing a public repository from GIT.
#          uri: https://github.com/bhargav-siddanati/app-configuration.git
server:
  port: 8888